<div class="grid p-fluid col-12 md:col-12">

  <div class="card-form">
    <p-card class="card-login p-fluid col-12 md:col-12">

      <ng-template pTemplate="header">
        <br>
        <h1 class="title-login">Login</h1>
      </ng-template>

      <form #f="ngForm" (ngSubmit)="tryLogin()">
        <div class="p-fluid col-12 md:col-12 input">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input class="input" id="float-input-username" type="text" pInputText [(ngModel)]="username" name="username">
              <label for="float-input-username">Nome</label>
            </span>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-float-label">
              <input class="input" id="float-input-password" type="password" pInputText [(ngModel)]="password" name="password">
              <label for="float-input-password">Senha</label>
            </span>
          </div>
        </div>

        <div class="p-fluid col-12 md:col-12">
          <div class="">
            <p-button class="button" label="Login" type="submit" [disabled]="!password"></p-button>
          </div>
        </div>

      </form>

    </p-card>
  </div>

</div>
