<div class="container">

    <div class="card-login">

        <p-card class="fields">

            <h1 class="title-login">Login</h1>
            <br>

            <span class="p-float-label">
                <input id="float-input-user" type="text" pInputText class="input">
                <label for="float-input-user">Username</label>
            </span>

            <br>
            <br>

            <span class="p-float-label">
                <input id="float-input-password" type="password" pInputText class="input">
                <label for="float-input-password">Password</label>
            </span>

            <br>

            <button pButton type="button" label="Login" class="button"></button>

            <br>

            <p class="link-register">Não tem conta? <a href="">Cadastre-se</a></p>
            
        </p-card>

    </div>

</div>