.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 19, 82));
    //background-image: url("/assets/image.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 500px;
    height: 400px;
}

.title-login {
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input{
    width: 400px;
}

.button {
    width: 400px;
}

.link-register {
    text-align: center;
}