<div class="p-fluid col-12 md:col-12">
  <p-fieldset legend="Adicionar Cargos" [toggleable]="true">

    <div class="p-fluid col-12 md:col-4">
      <div class="">
        <p-button (click)="showFormOfficie()" class="button" label="Adicionar" icon="pi pi-external-link"
                  iconPos="right"></p-button>
      </div>
    </div>

    <div class="grid">
      <div class="p-fluid col-12 md:col-4" *ngFor="let cargo of sector.offices">
        <p-panel header="Cargo" [toggleable]="true">
          <ng-template pTemplate="icons" >
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
              <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
          </ng-template>
          <ul>
            <li>Id: {{ cargo.id }}</li>
            <li>Nome: {{ cargo.name }}</li>
            <li>Salário Mínino: {{ cargo.minimumSalaryRange | currency : 'R$'}}</li>
            <li>Salário Máximo: {{ cargo.maximumSalaryRange | currency : 'R$'}}</li>
          </ul>
        </p-panel>
      </div>

      <p-dialog header="Adicionar novo o Cargo"
                [(visible)]="displayFormOfficie"
                [breakpoints]="{'960px': '75vw'}"
                [maximizable]="true"
                [resizable]="true"
                [responsive]="true"
                [modal]="true"
                [draggable]="true">

        <div class="input-office p-inputgroup">
      <span class="p-float-label">
        <input class="input" id="float-input-office" type="text" pInputText [(ngModel)]="office.name" name="name">
        <label for="float-input-office">Nome</label>
      </span>
        </div>

        <div class="grid p-fluid">
          <div class="p-fluid col-12 md:col-6">
            <label for="currency-us">Salário Minímo</label>
            <p-inputNumber [(ngModel)]="office.minimumSalaryRange" inputId="currency-us" mode="currency" currency="BRL" locale="en-US" name="minimumSalaryRange">
            </p-inputNumber>
          </div>

          <div class="p-fluid col-12 md:col-6">
            <label for="currency-us">Salário Máximo</label>
            <p-inputNumber [(ngModel)]="office.maximumSalaryRange" inputId="currency-us" mode="currency" currency="BRL" locale="en-US" name="maximumSalaryRange">
            </p-inputNumber>
          </div>
        </div>

        <ng-template pTemplate="footer">
          <p-button (click)="addOfficie()" label="Salvar" styleClass="p-button-text"></p-button>
          <p-button (click)="displayFormOfficie=false" label="Cancelar" styleClass="p-button-text"></p-button>
        </ng-template>

        <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

      </p-dialog>
    </div>
    <p-toast></p-toast>

  </p-fieldset>
</div>

