<p-toast></p-toast>

<!-- HEADER --->
<div class="grid p-fluid title">
  <div class="p-fluid col-12 md:col-8">
    <h2 class="">Filtro de Setor</h2>
  </div>

  <div class="p-fluid col-12 md:col-4">
    <div class="">
      <p-button class="button" label="Filtrar" icon="pi pi-search" iconPos="right" (click)="filter()"></p-button>
    </div>
  </div>
</div>

<!-- MAIN --->
<div class="grid p-fluid">

  <div class="p-fluid col-12 md:col-12">

    <div class="p-inputgroup">
      <span class="p-float-label">
        <input class="input" id="float-input13" type="text" pInputText [(ngModel)]="filterSector.name" name="name">
        <label for="float-input13">Nome</label>
      </span>
    </div>

  </div>

  <div class="p-fluid col-12 md:col-4">
    <div>
      <p-dropdown [options]="offices" [(ngModel)]="selectedOffice" optionLabel="name" [filter]="true" filterBy="name"
                  [showClear]="true" placeholder="Selecione o cargo" class="label-data">
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedOffice">
            <div>{{selectedOffice.name}}</div>
          </div>
        </ng-template>
        <ng-template>
          <div class="country-item">
            <div>{{selectedOffice.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <div class="p-fluid col-12 md:col-8">
    <div class="radio">
      <label class="label-radio">Status:</label>
      <p-radioButton name="situation" [value]="isAtivo" label="Ativo" [(ngModel)]="filterSector.situation"
                     class="radio-button"></p-radioButton>
      <p-radioButton name="situation" [value]="isInativo" label="Inativo" [(ngModel)]="filterSector.situation"
                     class="radio-button"></p-radioButton>
    </div>

  </div>


  <!-- TABLE GRID --->

  <div class="card p-fluid col-12 md:col-12">

    <p-table #dt [value]="sectors" [rows]="3" [paginator]="true"
             [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
             [(selection)]="selectedSectors" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Lista de Setores</h5>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')"
                           placeholder="Search..."/>
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Nome
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="initDate">Data de Inicio
            <p-sortIcon field="initDate"></p-sortIcon>
          </th>
          <th pSortableColumn="situation">Situação
            <p-sortIcon field="situation"></p-sortIcon>
          </th>
          <th pSortableColumn="situation">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sector>
        <tr>
          <td>{{sector.name}}</td>
          <td>{{sector.initDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{sector.situation}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="editSector(sector)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                    (click)="deleteSector(sector)"></button>
          </td>
                                                    <!-- DIALOG DE EDIÇÃO -->
          <p-dialog header="Detalhes do Setor"
                    [(visible)]="sectorDialog"
                    [style]="{width: '1300px', height: '1400px'}"
                    [maximizable]="true"
                    [resizable]="true"
                    [responsive]="true"
                    [modal]="true"
                    styleClass="p-fluid">
            <ng-template pTemplate="content">
              <app-new-sector [isEditMode]="true" [sector]="sector"></app-new-sector>
            </ng-template>
          </p-dialog>

        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          No total existe {{sectors ? sectors.length : 0 }} setores.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>
